@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$bgcolor: #e4e4e4;
$primarycolor: rgb(87, 174, 255);

.h1 {
    font-size: 4em;
}

body {
    background-color: $bgcolor;
    font-family: 'Poppins', sans-serif;
}

header {
    color: $primarycolor;
}